<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jaygoel.virginminuteschecker"
      android:versionCode="6"
      android:versionName="1.5">
  <application android:icon="@drawable/icon" android:label="@string/app_name">

    <activity android:name="com.baker.vm.ui.MultipleAccountsActivity" 
    	android:label="@string/app_name"
    	android:screenOrientation="portrait">
    
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      
    </activity>
    <receiver android:label="@string/notify_remaing_minutes" 
    	android:permission="android.permission.READ_PHONE_STATE" 
    	android:name="com.baker.vm.service.NotifyRemainingMinutes">
        <intent-filter>
	  	  	<action android:name="android.intent.action.PHONE_STATE" />
      	</intent-filter>
    </receiver>
    <receiver android:label="@string/app_name" android:name="Widget">
    	<intent-filter>
    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    	</intent-filter>
    </receiver>
    
	<appwidget-provider xmlns:android="http://schemas.android.com/apk/res/android"
		android:minWidth="146dp"
		android:minHeight="72dp"
		android:updatePeriodMillis="21600000"
		android:initialLayout="@layout/widget_2x1">
	</appwidget-provider>
  </application>
  <uses-sdk android:minSdkVersion="7" />

  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

</manifest> 
